header {
    padding: 1.2rem 0;
}

main {
    padding-top: .8rem .3rem 1rem;
    background-color: #f4eee2;
    color: black;
    transform: translate(0, -10rem);
}

article {
    padding: 1rem 0;
}

.bjToTransp {
    background: radial-gradient(circle at 50%, #f0e5d2, #f0e5d2, 60%, transparent 75%, transparent 75%);
}

#frontispiciu {
    height: 100%;
    width: 100%;
    /* zoom: 140%; */
    background-size: cover;
    object-position: top center;
    object-fit: cover;
    text-align: center;
}

#thumbsgallery {    
    max-width: 100%;
}

#thumbsgallery > img {
    margin: .8rem 0;    
}

.page  {
    flex-basis: 100%;
    padding: 1rem;
}

.ink {
    color: #d45500;
}

div.cues > a > img {
    float: left;
    height: 4rem;
    width: 4rem;
    border: black 3px solid;
    border-radius: 50% 50%;
}
